* {
    margin: 0;
    padding: 0;
}


.img1{
    display: flex;
    justify-content: center;
}



ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    padding: 20px;
}

a {
    color: #00080a;
    text-decoration: none;
    padding: 20px;
}


.footer {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.texto{
    text-transform: uppercase;
    padding: 10px;
}

.imagens{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-transform: uppercase;
    align-items: center;
}

th, tr{
    padding: 20px;
}

/* . é para estilizar a class */
/* #letra azul */